@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="text-center">
        <h2>Login</h2>
        <div class="row">UserName: <input type="text" /></div>
        <div class="row">Password:<input type="text" /></div>
        <div class="row"><a class="btn btn-default" href="#">Learn more &raquo;</a></div>
    </div>
</div>