@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="">
        <h2>Login</h2>
        <div class="row"><div class="col-sm-1">Username: <input type="text" /></div></div>
        <div class="row"><div class="col-sm-1">Password: <input type="password" /></div></div>
        <div class="row"><div class="col-sm-1"><a class="btn btn-primary" href="#">Log In</a></div></div>
    </div>
</div>