
@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>
<div class="container">
    <div class="row"><table class="table">
        <thead>
            <th>Workout Name</th>
            <th>Sets</th>
            <th>Reps</th>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>
    <div class="row">
        <h4>Cardio:</h4>
    </div>
</div>
